@media screen and (max-width:767px) {
    .header_wrap .header_wrap_grow .search{
        display: none;
    }
    .header_wrap > a{
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .header_wrap {
        padding: 5px 10px;
    }
    .header_wrap img {
        width: 100%;
        height: 100%;
    }
    .hamburger_wrap{
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .hamburger {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: #afafaf;
        position: relative;
    }

    .hamburger span {
        width: 32px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    .hamburger span:first-child {
        transform: rotate(0deg);
        top: 10px;
    }

    .hamburger span:last-child {
        transform: rotate(0deg);
        bottom: 10px;
    }

    .hamburger span:nth-child(2) {
        top: 0;
        bottom: 0;
    }

    .header_wrap_grow {
        position: absolute;
        background-image: url(../pic/header-bgimg.png);
        background-size: cover;
        border-radius: 6px;
        border-right:2px solid #423838;
        top: 100%;
        left: -51%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
        z-index: 9;
    }
    .header_wrap_grow ul{
        border-top: 2px solid #423838;
        border-radius: 6px;
    }
    .user_related{
        position: absolute;
        background-image: url(../pic/header-bgimg.png);
        background-size: cover;
        border-radius: 4px;
        border-top: 1px solid #aaa;
        top: calc(100% + 240px);
        left: -51%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
        z-index: 9;
    }
    .user_related ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .header_wrap_grow a {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #423838;
        padding: 15px 10px;
    }
    
    .user_related a{
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #888888;
        width: 70px;
        line-height: 30px;
        z-index: 9;
    }
    .header_wrap .search {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 0px 7px 0.3px #423838;
    }

    .header_wrap .search_wrap {
        width: 100%;
        display: flex;
        padding: 3px 3px;
    }

    .header_wrap .search_img {
        max-width: 15%;
        padding: 2px;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header_wrap .search img {
        width: 100%;
        height: 100%;
    }

    .header_wrap .search_img img {
        width: 100%;
        height: auto;
    }

    .header_wrap .search_text {
        width: 100%;
        flex-grow: 1;
        font-size: 12px;
        font-family: "NotoSerifTC-Bold";
        color: #766e6d;
        border: none;
        outline: none;
    }

    .header_wrap .search select {
        background-color: #e0e0e0;
        border: #e0e0e0 1px solid;
        border-radius: 4px;
        font-size: 12px;
        font-family: "NotoSerifTC-Regular";
        outline: none;
        padding: 0px 2px;
        margin: 0px 2px;
    }

/*banner*/
.banner {
    width: 100%;
}

.banner_wrap {
    width: 100%;
    padding: 70px 20px 50px 20px;
}

.banner_title {
    text-shadow: rgb(255, 255, 255) 0px 1px 0px, rgb(255, 255, 255) 0px 2px 0px, rgb(255, 255, 255) 0px 2.5px 0px, rgb(255, 255, 255) 0px 3.5px 0px, rgb(255, 255, 255) 0px 4px 0px;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.container {
    flex-direction: column;
    margin-top: 10px;
}

.item:nth-child(1){
    order: 1;
}
.item:nth-child(3){
    order: 1;
}

.item {
    box-shadow: 0px 0px 3px 3px rgba(66, 56, 56, 0.1);
    border-radius: 5px;
    width: calc(100% - 20px);
    margin: 100px 10px 10px 10px;
}

.function {
    width: 100%;
    padding: 10px;
}

.fire img,
.collection img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

.fire p,
.collection p {
    font-size: 14px;
    padding-left: 3px;
}


.collection:hover>a img {
    filter: invert(43%) sepia(1%) saturate(1716%) hue-rotate(333deg) brightness(99%) contrast(85%);
}

.item .img {
    width: 50px;
}

.item .img img {
    width: 150px;
    bottom: 70px;
    left: calc(50% - 75px);
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.trophy {
    top: -90px;
    left: calc(50% - 43.5px);
}

.item:nth-child(1) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(2) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(3) .bg {
    height: 100px;
    border-radius: 5px;
}

.author_name {
    font-size: 18px;
    margin-top: 50px;
}

.item:nth-child(1) {
    top: 20px;
}

.item:nth-child(3) {
    top: 30px;
}


.rank td:nth-child(5),.rank th:nth-child(5) {
    display: none;
}

/*內容*/
.rank {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 3px 5px;
}

.rank table {
    width: 100%;
}

.rank th {
    font-size: 14px;
    padding: 5px 0px;
}

.rank td {
    font-size: 12px;
    padding: 5px 0px;
}

.page {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 100px;
}

.page a {
    padding: 0px 5px;
    font-size: 14px;
}

.page a:nth-child(1),
.page a:nth-child(2),
.page a:nth-child(7),
.page a:nth-child(8) {
    border-radius: 5px;
    margin: 0px 5px;
}

.page a:nth-child(3) {
    border-bottom: #ffffff solid 1px;
    margin: 0px 3px;
}

/*footer*/
.footer {
    clip-path: polygon(0 5%, 50% 15%, 100% 5%, 100% 100%, 0 100%);
}

.footer_wrap {
    padding: 50px 20px 20px 20px;
}

.service {
    width: 25%;
}

.service h3,
.help h3 {
    font-size: 14px;
    padding: 3px 3px 3px 0px;
}

.service a,
.help a {
    font-size: 12px;
    padding: 5px 0px;
}

.help {
    display: none;
}

.peoplesaid {
    width: 50%;
}

.peoplesaid_wrap {
    width: 90%;
}

.peoplesaid h2 {
    text-align: center;
    font-size: 14px;
    padding: 3px;
}

.peoplesaid p {
    font-size: 12px;
    padding: 3px;
    text-align: center;
    line-height: 20px;
}

.peoplesaid h3 {
    font-size: 14px;
    padding: 3px;
}

.right_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.left_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.focusus {
    text-align: center;
    margin-left: 3%;
    width: 22%;
}

.focusus h3 {
    font-size: 14px;
    padding: 3px 3px 3px 0px;
}

.focusus a img {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-right: 3px;
}

.copyright_wrap {
    padding: 5px 20px;
}

.copyright_wrap p {
    font-size: 14px;
}

.copyright_wrap {
    padding: 1px 20px;
}

.copyright_wrap p {
    font-size: 12px;
}
}
/*-------------------------------------------------*/

@media screen and (min-width:768px) and (max-width:1024px) {
    .header_wrap .header_wrap_grow .search{
        display: none;
    }
    .header_wrap > a{
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .header_wrap {
        padding: 5px 10px;
    }
    .header_wrap img {
        width: 75%;
    }
    .hamburger_wrap{
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .hamburger {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        background-color: #afafaf ;
        position: relative;
    }

    .hamburger span {
        width: 40px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    .hamburger span:first-child {
        transform: rotate(0deg);
        top: 10px;
    }

    .hamburger span:last-child {
        transform: rotate(0deg);
        bottom: 10px;
    }

    .hamburger span:nth-child(2) {
        top: 0;
        bottom: 0;
    }

    .header_wrap_grow {
        position: absolute;
        background-image: url(../pic/header-bgimg.png);
        background-size: cover;
        border-radius: 6px;
        border-right:2px solid #423838;
        top: 100%;
        left: -51%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
        z-index: 9;
    }
    .header_wrap_grow ul{
        border-top: 2px solid #423838;
        border-radius: 6px;
    }
    .user_related{
        position: absolute;
        background-image: url(../pic/header-bgimg.png);
        background-size: cover;
        border-radius: 4px;
        border-top: 1px solid #aaa;
        top: calc(100% + 240px);
        left: -51%;
        width: 50%;
        height: calc(100vh - 50px);
        transition: left 1s;
        z-index: 9;
    }
    .user_related ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_wrap_grow a {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #423838;
        padding: 15px 10px;
    }
    
    .user_related a{
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #888888;
        width: 70px;
        line-height: 30px;
        z-index: 9;
    }
    .header_wrap .search {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 0px 7px 0.3px #423838;
    }


    .header_wrap .search_wrap {
        width: 100%;
        display: flex;
        padding: 3px 3px;
    }

    .header_wrap .search_img {
        max-width: 15%;
        padding: 2px;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header_wrap .search img {
        width: 75%;
    }

    .header_wrap .search_text {
        width: 100%;
        flex-grow: 1;
        font-size: 16px;
        font-family: "NotoSerifTC-Bold";
        color: #766e6d;
        border: none;
        outline: none;
    }

    .header_wrap .search select {
        background-color: #e0e0e0;
        border: #e0e0e0 1px solid;
        border-radius: 4px;
        font-size: 16px;
        font-family: "NotoSerifTC-Regular";
        outline: none;
        padding: 0px 2px;
        margin: 0px 2px;
    }
   
/*banner*/
.banner {
    height: 550px;
}

.banner_wrap {
    width: 100%;
    padding: 100px 20px 0px 20px;
}

.banner_title {
    text-shadow: rgb(255, 255, 255) 0px 1px 0px, rgb(255, 255, 255) 0px 2px 0px, rgb(255, 255, 255) 0px 2.5px 0px, rgb(255, 255, 255) 0px 3.5px 0px, rgb(255, 255, 255) 0px 4px 0px;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.banner_title h1 {
    margin-bottom: 30px;
}

.container {
    margin-top: 70px;
}

.item {
    box-shadow: 0px 0px 5px 5px rgba(66, 56, 56, 0.1);
    border-radius: 5px;
    width: 28%;
    margin: 10px;
}

.function {
    width: 100%;
    padding: 10px;
}

.fire img,
.collection img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.fire p,
.collection p {
    font-size: 16px;
    padding-left: 5px;
}


.collection:hover>a img {
    filter: invert(43%) sepia(1%) saturate(1716%) hue-rotate(333deg) brightness(99%) contrast(85%);
}

.item .img {
    width: 150px;
}

.item .img img {
    width: 150px;
    bottom: 70px;
    left: calc(50% - 75px);
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.trophy {
    top: -90px;
    left: calc(50% - 43.5px);
}

.item:nth-child(1) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(2) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(3) .bg {
    height: 100px;
    border-radius: 5px;
}

.author_name {
    font-size: 18px;
    margin-top: 50px;
}

.item:nth-child(1) {
    top: 20px;
}

.item:nth-child(3) {
    top: 30px;
}

/*內容*/
.rank {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
}

.rank table {
    width: 1600px;
}

.rank th {
    font-size: 20px;
    padding: 10px 0px;
}

.rank td {
    font-size: 16px;
    padding: 10px 0px;
}

.page {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

}

.page a {
    padding: 0px 5px;
    font-size: 16px;
    left: 33px;
}

.page a:nth-child(1),
.page a:nth-child(2),
.page a:nth-child(7),
.page a:nth-child(8) {
    border-radius: 5px;
    margin: 0px 5px;
}

.page a:nth-child(3) {
    border-bottom: #ffffff solid 1px;
    margin: 0px 5px;
}

/*footer*/
.footer {
    clip-path: polygon(0 5%, 50% 20%, 100% 5%, 100% 100%, 0 100%);
}

.footer_wrap {
    padding: 80px 20px 20px 20px;
}

.service {
    width: 12.5%;
}

.service h3,
.help h3 {
    font-size: 18px;
    padding: 15px 15px 15px 0px;
}

.service a,
.help a {
    font-size: 12px;
    padding: 10px 0px;
}

.help {
    display: flex;
    width: 12.5%;
}

.peoplesaid {
    width: 50%;
}

.peoplesaid_wrap {
    width: 80%;
}

.peoplesaid h2 {
    font-size: 18px;
    padding: 15px;
}

.peoplesaid p {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    line-height: 30px;
}

.peoplesaid h3 {
    font-size: 16px;
    padding: 15px;
}

.right_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.left_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.focusus {
    width: 25%;
}

.focusus h3 {
    font-size: 16px;
    padding: 15px 15px 15px 0px;
}

.focusus a img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.copyright_wrap {
    padding: 5px 20px;
}

.copyright_wrap p {
    font-size: 12px;
}
} 
/*-------------------------------------------------*/

@media screen and (min-width:1025px) {
    .header_wrap {
        padding: 10px 30px;
    }
    .header_wrap img {
        width: 100%;
    }

    .header_wrap > .search{
        display: none;
    }
    .header_wrap>a {
        width: 95px;
    }

    .header_wrap nav {
        display: flex;
    }

    .header_wrap nav ul {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .header_wrap nav ul a {
        font-size: 16px;
        text-decoration: none;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #423838;
        padding: 0px 10px;
    }

    .header_wrap_grow {
        display: flex;
        flex-grow: 1;
    }

    .header_wrap_grow .search {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0.3px #423838;
    }

    .header_wrap_grow .search_wrap {
        width: 100%;
        display: flex;
        padding: 3px 5px;
    }

    .header_wrap_grow .search_img {
        max-width: 10%;
        padding: 5px;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header_wrap_grow .search img {
        width: 100%;
    }

    .header_wrap_grow .search_text {
        width: 100%;
        flex-grow: 1;
        font-size: 14px;
        font-family: "NotoSerifTC-Bold";
        color: #766e6d;
        border: none;
        outline: none;
    }

    .header_wrap_grow .search select {
        background-color: #e0e0e0;
        border: #e0e0e0 1px solid;
        border-radius: 6px;
        font-size: 14px;
        font-family: "NotoSerifTC-Regular";
        outline: none;
        padding: 0px 5px;
        margin: 0px 5px;
    }


    .user_related {
        min-width: 200px;
    }

    .user_related ul {
        display: flex;
        justify-content: center;
    }

    .user_related a {
        font-size: 12px;
        font-family: "NotoSerifTC-Light";
        color: #888888;
        text-decoration: none;
        margin: 0px 5px;
    }

    /*banner*/
.banner {
    height: 570px;
}

.banner_wrap {
    width: 100%;
    padding: 100px 20px 0px 20px;
}

.banner_title {
    text-shadow: rgb(255, 255, 255) 0px 1px 0px, rgb(255, 255, 255) 0px 2px 0px, rgb(255, 255, 255) 0px 2.5px 0px, rgb(255, 255, 255) 0px 3.5px 0px, rgb(255, 255, 255) 0px 4px 0px;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.banner_title h1 {
    margin-bottom: 30px;
}

.container {
    margin-top: 70px;
}

.item {
    box-shadow: 0px 0px 5px 5px rgba(66, 56, 56, 0.1);
    border-radius: 5px;
    width: 28%;
    margin: 10px;
}

.function {
    width: 100%;
    padding: 10px;
}

.fire img,
.collection img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.fire p,
.collection p {
    font-size: 16px;
    padding-left: 5px;
}


.collection:hover>a img {
    filter: invert(43%) sepia(1%) saturate(1716%) hue-rotate(333deg) brightness(99%) contrast(85%);
}

.item .img {
    width: 150px;
}

.item .img img {
    width: 150px;
    bottom: 70px;
    left: calc(50% - 75px);
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.trophy {
    top: -90px;
    left: calc(50% - 43.5px);
}

.item:nth-child(1) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(2) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(3) .bg {
    height: 100px;
    border-radius: 5px;
}

.author_name {
    font-size: 18px;
    margin-top: 50px;
}

.item:nth-child(1) {
    top: 20px;
}

.item:nth-child(3) {
    top: 30px;
}

/*內容*/
.rank {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
}

.rank table {
    width: 1600px;
}

.rank th {
    font-size: 20px;
    padding: 10px 0px;
}

.rank td {
    font-size: 16px;
    padding: 10px 0px;
}

.page {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 100px;
}

.page a {
    padding: 0px 5px;
    font-size: 16px;
    left: 33px;
}

.page a:nth-child(1),
.page a:nth-child(2),
.page a:nth-child(7),
.page a:nth-child(8) {
    border-radius: 5px;
    margin: 0px 5px;
}

.page a:nth-child(3) {
    border-bottom: #ffffff solid 1px;
    margin: 0px 5px;
}

/*footer*/
.footer {
    clip-path: polygon(0 5%, 50% 25%, 100% 5%, 100% 100%, 0 100%);
}

.footer_wrap {
    padding: 100px 20px 20px 20px;
}

.service {
    width: 12.5%;
}

.service h3,
.help h3 {
    font-size: 20px;
    padding: 15px 15px 15px 0px;
}

.service a,
.help a {
    font-size: 16px;
    padding: 10px 0px;
}

.help {
    display: flex;
    width: 12.5%;
}

.peoplesaid {
    width: 50%;
}

.peoplesaid_wrap {
    width: 80%;
}

.peoplesaid h2 {
    font-size: 22px;
    padding: 15px;
}

.peoplesaid p {
    font-size: 22px;
    padding: 15px;
    text-align: center;
    line-height: 30px;
}

.peoplesaid h3 {
    font-size: 20px;
    padding: 15px;
}

.right_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.left_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.focusus {
    width: 25%;
}

.focusus h3 {
    font-size: 20px;
    padding: 15px 15px 15px 0px;
}

.focusus a img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.copyright_wrap {
    padding: 5px 20px;
}

.copyright_wrap p {
    font-size: 14px;
}

}
/*-------------------------------------------------*/

@media screen and (min-width:1200px) {
    .header_wrap {
        padding: 10px 30px;
    }
    .header_wrap img {
        width: 100%;
    }
    .header_wrap>a {
        width: 95px;
    }

    .header_wrap nav {
        display: flex;
    }

    .header_wrap nav ul {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .header_wrap nav ul a {
        font-size: 18px;
        text-decoration: none;
        font-family: "NotoSerifTC-Regular";
        text-shadow: 0.05em 0.05em #cac9c9;
        color: #423838;
        padding: 0px 10px;
    }

    .header_wrap_grow {
        display: flex;
        flex-grow: 1;
    }

    .header_wrap_grow .search {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0.3px #423838;
    }

    .header_wrap_grow .search_wrap {
        width: 100%;
        display: flex;
        padding: 3px 5px;
    }

    .header_wrap_grow .search_img {
        max-width: 10%;
        padding: 5px;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
    }

    .header_wrap_grow .search img {
        width: 100%;
    }

    .header_wrap_grow .search_text {
        width: 100%;
        flex-grow: 1;
        font-size: 16px;
        font-family: "NotoSerifTC-Bold";
        color: #766e6d;
        border: none;
        outline: none;
    }

    .header_wrap_grow .search select {
        background-color: #e0e0e0;
        border: #e0e0e0 1px solid;
        border-radius: 6px;
        font-size: 14px;
        font-family: "NotoSerifTC-Regular";
        outline: none;
        padding: 0px 5px;
        margin: 0px 5px;
    }

    .user_related {
        min-width: 230px;
    }

    .user_related ul {
        display: flex;
        justify-content: center;
    }

    .user_related a {
        font-size: 14px;
        font-family: "NotoSerifTC-Light";
        color: #888888;
        text-decoration: none;
        margin: 0px 5px;
    }
/*banner*/
.banner {
    height: 570px;
}

.banner_wrap {
    width: 1200px;
    padding: 100px 20px 0px 20px;
}

.banner_title {
    text-shadow: rgb(255, 255, 255) 0px 1px 0px, rgb(255, 255, 255) 0px 2px 0px, rgb(255, 255, 255) 0px 2.5px 0px, rgb(255, 255, 255) 0px 3.5px 0px, rgb(255, 255, 255) 0px 4px 0px;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.banner_title h1 {
    margin-bottom: 30px;
}

.container {
    margin-top: 70px;
}

.item {
    box-shadow: 0px 0px 5px 5px rgba(66, 56, 56, 0.1);
    border-radius: 5px;
    width: 28%;
    margin: 10px;
}

.function {
    width: 100%;
    padding: 10px;
}

.fire img,
.collection img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.fire p,
.collection p {
    font-size: 16px;
    padding-left: 5px;
}


.collection:hover>a img {
    filter: invert(43%) sepia(1%) saturate(1716%) hue-rotate(333deg) brightness(99%) contrast(85%);
}

.item .img {
    width: 150px;
}

.item .img img {
    width: 150px;
    bottom: 70px;
    left: calc(50% - 75px);
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.trophy {
    top: -90px;
    left: calc(50% - 43.5px);
}

.item:nth-child(1) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(2) .bg {
    height: 100px;
    border-radius: 5px;
}

.item:nth-child(3) .bg {
    height: 100px;
    border-radius: 5px;
}

.author_name {
    font-size: 18px;
    margin-top: 50px;
}

.item:nth-child(1) {
    top: 20px;
}

.item:nth-child(3) {
    top: 30px;
}

/*內容*/
.rank {
    width: 1200px;
    padding: 20px 20px 10px 20px;
}

.rank table {
    width: 1600px;
}

.rank th {
    font-size: 20px;
    padding: 10px 0px;
}

.rank td {
    font-size: 16px;
    padding: 10px 0px;
}

.page {
    width: 1160px;
    padding: 20px;
    margin-bottom: 100px;
}

.page a {
    padding: 0px 5px;
    font-size: 16px;
    left: 33px;
}

.page a:nth-child(1),
.page a:nth-child(2),
.page a:nth-child(7),
.page a:nth-child(8) {
    border-radius: 5px;
    margin: 0px 5px;
}

.page a:nth-child(3) {
    border-bottom: #ffffff solid 1px;
    margin: 0px 5px;
}

/*footer*/
.footer {
    clip-path: polygon(0 5%, 50% 25%, 100% 5%, 100% 100%, 0 100%);
}

.footer_wrap {
    width: 1200px;
    padding: 100px 20px 20px 20px;
}

.service {
    width: 12.5%;
}

.service h3,
.help h3 {
    font-size: 20px;
    padding: 15px 15px 15px 0px;
}

.service a,
.help a {
    font-size: 16px;
    padding: 10px 0px;
}

.help {
    display: flex;
    width: 12.5%;
}

.peoplesaid {
    width: 50%;
}

.peoplesaid_wrap {
    width: 80%;
}

.peoplesaid h2 {
    font-size: 22px;
    padding: 15px;
}

.peoplesaid p {
    font-size: 22px;
    padding: 15px;
    text-align: center;
    line-height: 30px;
}

.peoplesaid h3 {
    font-size: 20px;
    padding: 15px;
}

.right_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.left_line {
    width: 20%;
    height: 1px;
    margin-top: 9px;
    border-top: solid #ffffff 1px;
    flex-grow: 1;
}

.focusus {
    width: 25%;
}

.focusus h3 {
    font-size: 20px;
    padding: 15px 15px 15px 0px;
}

.focusus a img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.copyright_wrap {
    width: 1200px;
    padding: 5px 20px;
}

.copyright_wrap p {
    font-size: 14px;
}


}