@font-face {
    font-family: NotoSerifTC-Light;
    src: url(NotoSerifTC-Light.otf);
}
@font-face {
    font-family: NotoSerifTC-Regular;
    src: url(NotoSerifTC-Regular.otf);
}
@font-face {
    font-family: NotoSerifTC-Bold;
    src: url(NotoSerifTC-Bold.otf);
}